<!DOCTYPE html>
<html>
    <head>
        <title>Eat da Burger</title>
        <link rel="stylesheet" type="text/css" href="public/css/burger_style.css">
    </head>

    <body>
        <div class="container">
            <center>
                <div class="row">
                    <img src="public/img/burger.jpeg" alt="Burger Image">
                    
                </div>
            </center>
        </div>
    </body>
</html>