<!DOCTYPE html>
<html lang="en-us">
    <head>
        <meta charset="UTF-8">
        <title>Eat Da Burger!</title>
        <!-- Bootstrap and jQuery -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
        <link href="https://fonts.googleapis.com/css?family=Passion+One:700" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="/public/css/style.css">
        <link rel="icon" href="/public/img/burger.jpg">
        <script type="text/javascript" src="/public/js/app.js"></script>
    </head>
    <body>
        {{{body}}}
    </body>
</html>

{{!-- <!DOCTYPE html>
<html>
    <head>
        <title>Eat da Burger</title>
        <link rel="stylesheet" type="text/css" href="public/css/burger_style.css">
    </head>

    <body>
        <div class="container">
            <center>
                <div class="row">
                        <img src="public/img/burger.jpg" alt="Burger Image">
                    <div class="burger">
                        <h1>Eat Da Burger</h1>
                            <p>
                            Choose your burger and eat itttt. Otherwise, make one yourself.
                            </p>
                    </div>
                </div>
            </center>

            <br>
            {{!-- {{{body}}
            <br>

            <form action="burger/create" method="POST">
                <div class="form">

                    <div class="col-md-3"></div>

                        <div class="col-md-6">
                            <label class="new-burger" id="submit">Order New Burger</label>
                                <textarea class="input" type="text" id="new-burger" required-value=""></textarea>
                    </div>

                    <div class="col-md-3"></div>

                </div>
            </form>

        </div>

    </body>
    
</html> --